@import "../styles/variables.scss";

.mb6 {
	margin-bottom: 6px;
}

.mb12 {
	margin-bottom: 12px;
}

.container {
	min-height: 100vh;
	padding-top: 42px;
	padding-bottom: 84px;

	.opacity08 {
		opacity: .8;
	}

	.logo {
		position: relative;
		display: inline;
		margin-right: 12px;
		top: 5px;
		width: 1em;
		height: 1em;
	}

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media screen and (max-width: $sm) {
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
		}

		& > *:last-child {
			height: 20px;
			@media screen and (max-width: $sm) {
				margin-top: 6px;
				margin-bottom: 12px;
			}
		}
	}

	.linkBlock {
		display: flex;
		gap: 12px;
		margin-top: 12px;

		.orText {
			opacity: .7;
			text-decoration: underline;
			cursor: pointer;
			flex-grow: unset!important;
		}

		& > *:first-child {
			flex-grow: 1;
		}
	}

	.libraryHeader {
		display: flex;
		justify-content: space-between;
		gap: 16px;
		align-items: center;
		@media screen and (max-width: $sm) {
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
		}

		.left {
			display: flex;
			flex-direction: column;
			justify-content: unset;
			align-items: unset;
			flex-grow: 1;
		}

		.right {
			flex: none;
			@media screen and (max-width: $sm) {
				width: 100%;
			}

			.availableSpace {
				width: 250px;
				@media screen and (max-width: $xs) {
					width: 100%;
				}
			}
		}
	}
}

.imageWrapper {
	position: relative;
    width: 100%;
	padding-top: 70%;
	background-color: $block-placeholder-color;
	border-radius: 8px;
	overflow: hidden;
	transform: translate(0);

	.progress {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		color:$paper-color;
		z-index: 2;
	}

	.blur {
		position: absolute;
		top: -10%;
		left: -10%;
		margin: auto;
		width: 120%;
		height: 120%;
		object-fit: cover;
        z-index: 1;
		filter: blur(12px);
		background-color: transparent;
		opacity: .8;
	}

	.image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: contain;
		background-color: transparent;
		z-index: 3;
		transform: translate(0);
	}
}

.bottomPanel {
	display: flex;
	align-items: center;
	gap: 12px;
	@media screen and (max-width: $md) {
		flex-direction: column-reverse;
		align-items: flex-start;
		gap: 6px;
	}

	.actions {
		display: flex;
		gap: 12px;
		@media screen and (max-width: $md) {
			width: 100%;
			flex-wrap: wrap;
		}
		@media screen and (max-width: $sm) {
			gap: 6px;

			button {
				padding: 10px;
				height: 30px;

				span {
					font-size: 14px;
				}
			}
		}
	}

	.count {
		margin-left: auto;
		margin-right: 12px;
		@media screen and (max-width: $md) {
			margin-left: unset;
		}
	}
}

.whiteHoleDialog {
	.whiteHoleDialogImages {
	    display: flex;
	    flex-wrap: wrap;
	    background-color: $block-placeholder-color;
	    border-radius: 12px;
	    margin-top: 16px;
		margin-bottom: 16px;
		align-self: flex-start;

	    .whiteHoleImageWrapper {
	        position: relative;
	        width: calc(100% / 8);
	        padding-top: calc(100% / 8);

	        img {
	            position: absolute;
	            top: 0;
	            width: calc(100% - 12px);
	            height: calc(100% - 12px);
	            margin: 6px;
	        }
	    }
	}

	.visibility {
	    display: flex;
	    align-items: center;
		cursor: pointer;
		user-select: none;
	}
}

.divider {
	background-color: fade-out(white, .9);
}

.whiteHoleHeader {
	display: flex;
	gap: 24px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	@media screen and (max-width: $md) {
		flex-direction: column;
		gap: 12px;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.actions {
		display: flex;
		flex-wrap: wrap;
		gap: 12px;
	}
}

.integrationDialog {
	.inputBlock {
		display: flex;
		gap: 12px;
		width: 100%;

		& > *:first-child {
			flex-grow: 1;
		}

		& > *:last-child {
			flex: none;
			display: flex;
			gap: 8px;
		}
	}

	.integrations {
		display: flex;
		gap: 12px;
		flex-wrap: wrap;
		margin-top: 12px;
	}

	.code {
		border-radius: 12px;
	}

	tt {
		background-color: $block-placeholder-color;
		padding: 0 4px;
		margin: 0 2px;
		border-radius: 4px;
	}
}