@import "../../styles/variables.scss";

.root {
	position: relative;
	height: 54px;
	width: 54px;
	min-width: 54px;
	border-radius: 8px;
	padding: 0;
	outline: none;
	transition: $transition;
	&[disabled] {
		opacity: 0.6;
		filter: saturate(0.9) contrast(0.6);
		pointer-events: none;
	}
	&.small {
		height: 44px;
		width: 44px;
		min-width: 44px;
	}
	&.fullWidth {
		width: 100%;
	}

	&.primary {
		color: white;
		background: $accent-color;
		.preloader {
			color: white;
		}

		&:not([disabled]):hover {
			background-color: $hover-color;
		}
	}

	&.secondary {
		background-color: fade-out($accent-color, 0.9);
		color: $hover-color;
		transition: $transition;
		.preloader {
			color: $hover-color;
		}

		&:not([disabled]):hover {
			background-color: fade-out($accent-color, 0.8);
		}
	}

	&.negative {
		background-color: $error-color;
		color: #ffffff;
	}

	&.loading {
		pointer-events: none;

		.preloader {
			opacity: 1;
		}
	}

	.preloader {
		color: inherit;
	}
	.icon {
		color: inherit;

		& > svg {
			width: 24px;
			height: 24px;
		}
	}
}
