@import "../../styles/variables.scss";

.root {
	font-size: inherit;
	color: $accent-color;
	text-decoration: none;

	&.underline-always {
		text-decoration: underline;
	}
	&.underline-hover {
		&:hover {
			text-decoration: underline;
		}
	}

	&.block {
		color: unset;
		display: block;
	}
}
