@import "../../styles/variables.scss";

.root {
	background-color: white;
	color: #6c748c;
	font-size: 14px;
	font-weight: 300;
	box-shadow: 0 4px 10px #0000001f;
	padding: 8px 12px;
	text-align: center;
}
.arrow {
	color: white;
}
