@import "../../styles/variables.scss";

.root {
	position: fixed;
	z-index: 10;
	display: none;
	top: 20px;
	width: 135px;
	//transform-origin: bottom;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(.25,.8,.05,1);

	&.left {
		display: block;
		left: -135px;
		-webkit-animation-name: santa-left;
		animation-name: santa-left;
		transform-origin: 90% 90%;
	}

	&.right {
		display: block;
		right: -135px;
		-webkit-animation-name: santa-right;
		animation-name: santa-right;
		transform-origin: 10% 90%;
	}
}

@-webkit-keyframes santa-right {
	from,
	to {
		transform: translate3d(0, 0, 0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: rotate(-75deg);
	}

	20%,
	40%,
	60%,
	80% {
		transform: rotate(-65deg);
	}

	0%,
	100% {
		transform: rotate(0deg);
	}
}

@keyframes santa-right {
	from,
	to {
		transform: translate3d(0, 0, 0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: rotate(-75deg);
	}

	20%,
	40%,
	60%,
	80% {
		transform: rotate(-65deg);
	}

	0%,
	100% {
		transform: rotate(0deg);
	}
}

@-webkit-keyframes santa-left {
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: rotate(75deg);
	}

	20%,
	40%,
	60%,
	80% {
		transform: rotate(65deg);
	}

	0%,
	100% {
		transform: rotate(0deg);
	}
}

@keyframes santa-left {
	from,
	to {
		transform: translate3d(0, 0, 0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: rotate(75deg);
	}

	20%,
	40%,
	60%,
	80% {
		transform: rotate(65deg);
	}

	0%,
	100% {
		transform: rotate(0deg);
	}
}